body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
h2,
p{
    margin: 0;
}
/*------------------HEADER---------------*/
.header{
    padding: 0 10px;
    background-color: #254050;
    color: #fff;
    display: grid;
    grid-template-columns: 80px 1fr 280px;
    grid-template-areas:
    "logo menu form"
    ;
    grid-template-rows: 52px;
    border-bottom: 1px solid #20313d;
}
.header-logoContainer{
    grid-area: logo;
    margin: 0;
    display: flex;
    align-items: center;

}
.header-logoContainer img{
    margin: 0;
    width: 100%;
}
.menu{
    grid-area: menu;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.menu a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    padding: 5px 12px 5px 5px;
}
.barra{
    margin: 0 20px;
}
.perfil-imageContainer{
    margin: 0;
    width: 20px;
    padding-right: 10px;
}
.perfil-imageContainer img{
    width: 100%;
    border-radius: 50%;
}
.puntaje{
    margin: 0 0;
}
.puntaje p{
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}
.form{
    grid-area: form;
    display: grid;
    grid-template-columns: 230px 50px;
    grid-template-rows: 50px;
    grid-template-areas: "input button";
    align-items: center;

   
}
.form input{
    grid-area: input;
    padding: 8px 0 8px 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    height: 33px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 500;
}  
.form button{
    height: 33px;
    border: none;
    grid-area: button;
    box-sizing: border-box;
    width: 100%;
    background-color: #92c93d;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.fa-search{
    color: #fff;
}



/*---------------HERO-------------------*/


.hero{
    background-color: #23475b;
    color: #fff;
    padding: 32px 15px;
    display: grid;
    grid-template-columns: minmax(auto,1024px);
    justify-content: center;
}
.hero-container{
    display: grid;
    grid-template-columns: 70px 1fr 320px;
    grid-template-rows: 110px 30px 130px 250px;
    grid-template-areas:
    "badge title forma"
    " . opinion forma"
    " . description ."
    " . video ."
    ;
}
.badge{
    grid-area: badge;
    width: 70px;
}
.badge img{
    padding-top: 10px;
    width: 100%;
}
.title{
    grid-area: title;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    padding-left: 15px;
}
.opiniones{
    grid-area: opinion;
}
.opiniones i{
    color: #fecc01;
}
.opiniones a{
    color: #0a8ecd;
    padding-left: 15px;
}
.flex-video{
    grid-area: video;
    max-width: 450px;
    width: 100%;
    height: 0;
    padding-top: 254px;
    background-color: #2adb51;
    position: relative;

}
.video{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.description{
    grid-area: description;
}
.form-hero{
    grid-area: forma;
    background-color: #fff;
    padding: .8em;
    border-radius: 10px;
    text-align: center;
}
.form-hero a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}
.form-hero p{
    color: #000;
    font-size: 20px;
    font-weight: 700;
    margin-top: .5em;
    margin-bottom: 5px;
    justify-content: center;
}
.form-hero button{
    background-color: #98ca3f;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    border-bottom: 5px solid #6d932b;
    display: inline-block;
    font-size: 16px;
}




/*---------------INFORMATION-------------------*/

.information{
    display: grid;
    grid-template-columns: minmax(auto,1024px);
    justify-content: center;
}
.info-title{
    font-size: 28px;
    font-weight: 700;
}
.information-container{
    display: grid;
    grid-template-columns: repeat(2,minmax(400px,auto));
    justify-content: center;
}
.info-info{
    display: flex;
    width: 80%;
}
.info-info p{
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}
.info-infoContainer{
    width: 70px;
    margin: 0;
}
.info-infoContainer img{
    width: 100%;
}
.partition{
    text-align: center;
}
.partition h1{
    font-size: 28px;
    font-weight: 700;
}
.partition-buttom{
    margin-bottom: 40px;
}
.partition-buttom button{
    border-radius: 5px;
    cursor: pointer;
    width: 370px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #c7c7c7;
    border-left:4px solid #5ca480 ;
    background-color: #fff;
    text-align: start;
    padding: 0 0 0 50px;
    background-image: url("https://static.platzi.com/media/learningpath/badges/b7e7cdb0-0de5-497e-bcab-503fdf54825f.jpg");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-y:center;
    background-position-x: 8px;
}
.partition-buttom a{
    text-decoration: none;
    color: #273b47;
}




.temary{
    display: grid;
    grid-template-columns: minmax(auto,1024px);
    justify-content: center;
    background-color: #f8f8f9;
}
.temary-title{
    text-align: center;
}
.temary-title h1{
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
}
.temary-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(auto,490px));
    column-gap: 10px;
}
.tem-tem{
padding:10px;
}
.tem-title{
    padding-left: 20px; 
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
}
.arti{
    padding: 15px 0 15px 40px;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.arti p{
    margin: 0;
}
.v{
    background-image: url("play.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: center;
    background-position-x: 10px;
}
.f{
    background-image: url("file.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: center;
    background-position-x: 10px;
}
.l-1{
    grid-row-end: span 1;
}
.l-2{
    grid-row-end: span 2;
}
.l-3{
    grid-row-end: span 3;
}









.aprende{
    display: grid;
    grid-template-columns: minmax(auto,1024px);
    justify-content: center;
    margin-bottom: 40px;

}
.aprende-primer{
    display: flex;
    justify-content: center;
}
.aprende-primer button{
    background-color: transparent;
    border: none;
    width: 300px;
    padding: 10px 20px;
    margin: 30px 0;
}

.aprende-primer button:nth-of-type(1){
    border-bottom: 2px solid #0791e6;

}
.aprende-primer a{
    font-family: "Lato",sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.aprende-second{
    text-align: center;
}

.aprende-second button{
    border-radius: 5px;
    cursor: pointer;
    width: 370px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #c7c7c7;
    
    background-color: #fff;
    text-align: start;
    padding: 0 0 0 50px;
    background-image: url("https://static.platzi.com/media/achievements/badge-fundamentos-electronica-d958470b-87bf-41e3-b98b-97a5ca1e9663.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-y:center;
    background-position-x: 8px;
}
.aprende-second a{
    font-family: "Lato",sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #273b47;
}







.reconocimiento{
    display: grid;
    grid-template-columns: minmax(auto,1024px);
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #f9f9fa;
}

.reconocimiento-container{
    display: grid;
    grid-template-columns: 370px 1fr;
    grid-template-areas: 
    "Rdiploma Rtitulo"
    "Rdiploma Rdescription"
    "Rdiploma Rbutton"
    ;
}
.titulo-container{
    grid-area: Rdiploma;
    margin: 10px;
}
.titulo-container img{
    width: 100%;
}
.reconocimiento-title{
    grid-area: Rtitulo;
    font-size: 20px;
    font-weight: 600;
}
.reconocimiento-comentario{
    grid-area: Rdescription;
}
.reconocimiento-button{
    grid-area: Rbutton;
}
.reconocimiento-button button{
    padding: 7px 5px;
    background-color: #95ca3e;
    border: 1px solid #e8eee5;
    border-radius: 5px;

}
.reconocimiento-button a{
    grid-area: Rbutton;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}







.profesores{
    display: grid;
    grid-template-columns: minmax(auto,1024px);
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;

}

.prof-title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.prof-title h1{
    display: inline-block;
}
.prof-container{
    display: grid;
    grid-template-columns: 80px auto;
    justify-content: center;
    grid-template-areas: "Pimage Pdescr";
}
.prof-imageContainer{
    grid-area: Pimage;
    margin: 0;
}
.prof-imageContainer img{
    border-radius: 50%;
    width: 100%;
}
.prof-prof{
    grid-area: Pdescr;
    margin: 10px;
}
.prof-twitter a{
    text-decoration: none;
    color: #57c0f4;
}
.prof-description{
    font-size: 14px;
    font-weight: 400;
}






.proyecto{
    display: grid;
    grid-template-columns: minmax(auto,1024px);
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #f8f8f9;
}
.proyecto-container{
    display: grid;
    grid-template-columns: 410px 1fr;
    grid-template-areas: 
    "Pdiploma Ptitulo"
    "Pdiploma Pdescription"
    "Pdiploma Pbutton"
    ;
}
.proyecto-titulo{
    grid-area: Pdiploma;
    margin: 0;
}
.proyecto-titulo img{
    width: 100%;
}
.proyecto-title{
    grid-area: Ptitulo;
    font-size: 20px;
    font-weight: 600;
}
.proyecto-comentario{
    grid-area: Pdescription;
}
.proyecto-button{
    grid-area: Pbutton;
}
.proyecto-button button{
    padding: 7px 5px;
    background-color: #95ca3e;
    border: 1px solid #e8eee5;
    border-radius: 5px;

}
.proyecto-button a{
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}











.comentarios{
    display: grid;
    grid-template-columns: minmax(auto,1024px);
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;

}
.comentarios-container{
    display: flex;
    flex-wrap: wrap;
}
.coment-coment{
    display: grid;
    grid-template-columns: 48px 280px;
    colu: 8px;
    grid-template-areas:
    "Cimagen Cname"
    "Cimagen Cstar"
    "Ccoment Ccoment"
    ;
}
.coment-imageContainer{
    grid-area: Cimagen;
    margin: 0;
}
.coment-imageContainer img{
    width: 100%;
    border-radius: 50%;
}
.coment-name{
    grid-area: Cname;
    padding-left: 5px;
}
.coment-name p{
    font-size: 16px;
    font-weight: bold;
}
.coment-star{
    padding-left: 5px;
    grid-area: Cstar;
    color: #fecc01;
}
.coment-description{
    grid-area: Ccoment;
}
.coment-description p{
    font-size: 14px;
}












.footer{
    display: grid;
    grid-template-columns: minmax(auto,1024px);
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #1c3643;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.footer-container{

}
.footer-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px 0 40px 0;

}
.footer-imageContainer{
    margin: 0;
    width: 150px;
}
.footer-imageContainer img{
    width: 100%;
}
.footer-dd p{
    font-size: 16px;
    padding: 10px;
}
.footer-ll p{
    font-size: 16px;
    padding: 10px;
}
.footer-ll a{
    color: #fff;
    font-size: 25px;
    margin-left: 15px;
}

.footer-guide li{
    list-style:none;
    margin: 10px 0;
    padding-left:10px ;
}
.footer-guide li:nth-of-type(1){
    border-left:3px solid #33b13a;
}
.footer-guide li:nth-of-type(2){
    border-left:3px solid #6b407e;
}
.footer-guide li:nth-of-type(3){
    border-left:3px solid #29b8e8;
}
.footer-guide li:nth-of-type(4){
    border-left:3px solid #f5c443;
}
.footer-guide li:nth-of-type(5){
    border-left:3px solid #fa7800;
}
.footer-guide li:nth-of-type(6){
    border-left:3px solid #cb161d;
}

.footer-ii p{
    padding: 10px 5px;
}
.footer-ii a{
    padding-left: 15px;
}
.footer-ii img{
    height: 32px;
}

.footer-form{
    background-color: #233945;
    width: auto;
    display: flex;
   
    align-items: center;
}
.footer-form-info{
    
}
.footer-form-info p{
   
}
.footer-form input{
    border: 1px solid #0a8ecd;
   height: 48px;
   margin: 30px 0;
   box-sizing: border-box;
   padding: 1em 15em 1em 2.5em;
   color: #fff;
   background-color: transparent;
}
.footer-form button{
    border: none;
   height: 48px;
   width: 150px;
   box-sizing: border-box;
   background-color: #0a8ecd;
   color: #fff;
   
}
.tytyty{
    text-align: center;
}